<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>agilemultipleseller</name>
	<displayName><![CDATA[Agile Multiple Seller module]]></displayName>
	<version><![CDATA[3.0.6.1]]></version>
	<description><![CDATA[Adds multiple seller functionality to PrestaShop]]></description>
	<author><![CDATA[addons-modules.com]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>