<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>vitepay</name>
            <displayName><![CDATA[VitePay]]></displayName>
            <version><![CDATA[1.0.0]]></version>
            <description><![CDATA[Acceptez les paiements Orange Money sur votre site prestashop.]]></description>
            <author><![CDATA[VitePay]]></author>
            <tab><![CDATA[payments_gateways]]></tab>
    <confirmUninstall>Etes-vous sur de vouloir supprimer les données ?</confirmUninstall>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
    <limited_countries></limited_countries>
        </module>