.tp-caption.OpenSans1 {
font-size:18px;
line-height:25px;
font-weight:600;
font-family:"Open Sans";
color:rgb(102, 102, 102);
text-decoration:none;
background-color:transparent;
padding:1px 4px 0px;
text-shadow:none;
margin:0px;
letter-spacing:0px;
border-width:0px;
border-color:rgb(102, 102, 102);
border-style:none;
}

.tp-caption.OpenSans2 {
font-size:60px;
line-height:66px;
font-weight:800;
font-family:"Open Sans";
color:rgb(230, 46, 4);
text-decoration:none;
background-color:transparent;
padding:1px 4px 0px;
text-shadow:none;
margin:0px;
letter-spacing:0px;
border-width:0px;
border-color:rgb(230, 46, 4);
border-style:none;
}

.tp-caption.OpenSans3 {
font-size:28px;
line-height:36px;
font-weight:600;
font-family:"Open Sans";
color:rgb(230, 46, 4);
text-decoration:none;
background-color:transparent;
padding:1px 4px 0px;
text-shadow:none;
margin:0px;
letter-spacing:0px;
border-width:0px;
border-color:rgb(230, 46, 4);
border-style:none;
}

.tp-caption.OpenSans4 {
color:#ffffff;
background-color:rgb(102, 102, 102);
background-color:rgba(102, 102, 102, 1);
font-size:13px;
line-height:36px;
font-weight:600;
font-family:"Open Sans";
text-decoration:none;
padding:1px 13px 0px 13px;
text-shadow:none;
margin:0px;
letter-spacing:0px;
padding-left:13px;
padding-right:13px;
border-width:0px;
border-color:rgb(255, 255, 255);
border-style:none;
}

.tp-caption.OpenSans5 {
font-size:14px;
line-height:20px;
font-weight:600;
font-family:"Open Sans";
color:rgb(102, 102, 102);
text-decoration:none;
background-color:transparent;
padding:1px 4px 0px;
text-shadow:none;
margin:0px;
letter-spacing:0px;
border-width:0px;
border-color:rgb(102, 102, 102);
border-style:none;
}

.tp-caption.OpenSans6 {
font-size:14px;
line-height:20px;
font-weight:500;
font-family:"Open Sans";
color:rgb(230, 46, 4);
text-decoration:none;
background-color:transparent;
padding:1px 4px 0px;
text-shadow:none;
margin:0px;
letter-spacing:0px;
border-width:0px;
border-color:rgb(230, 46, 4);
border-style:none;
}

