<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>agilesellershipping</name>
	<displayName><![CDATA[Agile Seller Shipping module]]></displayName>
	<version><![CDATA[2.5.0.3]]></version>
	<description><![CDATA[Provides shipping configuration functions to sellers]]></description>
	<author><![CDATA[addons-modules.com]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>