<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>pagecache</name>
	<displayName><![CDATA[Page Cache Ultimate]]></displayName>
	<version><![CDATA[4.22]]></version>
	<description><![CDATA[Enable full page caching for home, categories, products, CMS and much more pages. Even with page caching you can enable some modules like &#039;viewed products&#039; or &#039;my account&#039; blocks to load dynamically in ajax. Go from seconds to few milliseconds of loading time!]]></description>
	<author><![CDATA[JPresta.com]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>